.container{
    height: 470px;
    border: 1px solid;
}
h2{
    font-size: 5vh;
}
.form-control{
    width: 70%;
}
.form-group{
    margin-top: 40px;
}
textarea{
    width: 70%;
    height: 70px;
}
.form-check-input{
    cursor: pointer;
}
#check{
    width: 15px;
    height: 15px;
}